{% extends 'base.html' %}

{% block titulo %}
    sobre nosotros
{% endblock titulo %}

{% block contenido %}
    <body>
        <header>
            <div class="contenedor">
                
                <nav>
                    <a href="#" class="activo">Inicio</a>				
                
                </nav>
            </div>
        </header>
    
        <main>
            
            <div class="peliculas-recomendadas contenedor">
                <div class="contenedor-titulo-controles">
                    
                    <div class="indicadores"></div>
                </div>

                <div class="container">
                    <div class="row">
                      <div class="col">
                        Column
                        <div><a href="#"><h3>perfil</h3></a></div>
                        <div><a href="#"><h3>amigos</h3></a></div>
                        <div><a href="#"><h3>videos</h3></a></div>
                      </div>
                      <div class="col">
                        Column
                        <div class="contenedor-principal">
                            <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>
            
                            <div class="contenedor-carousel">
                                <div class="carousel">
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="img/11.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="img/9.png.jpg" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="img/8.png.jpg" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="img/10.png.jpg" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="img/3.png.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="img/2.png.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="img/11.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="img/6.png.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="img/1.png.jpg" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="img/3.png.png" alt=""></a>
                                    </div>
                                    <div class="pelicula">
                                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
                        </div>


                        <div class="container">
                            <div class="row">
                              <div class="col">
                                1 of 2
                                <a href=""><img src="/static/img/logo.png" alt="" height="50px"></a>
                              </div>
                              <div class="col">
                                2 of 2
                                <span><a href=""><input type="text" name="" id=""></a></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                1 of 3
                                <a href="play"><input type="button" value="activit"></a>
                              </div>
                              <div class="col">
                                2 of 3
                                <a href="coment"><input type="button" value="photo"></a>
                              </div>
                              <div class="col">
                                3 of 3
                                <a href="activity"><input type="button" value="live"></a>
                              </div>
                            </div>
                          </div>

                          <div class="container">
                            <div class="row">
                              <div class="col">
                                1 of 3
                                <a href=""><img src="/static/img/logo.png" alt="" height="50px"></a>
                              </div>
                              <div class="col-6">
                                2 of 3 (wider)
                                <a href=""><h2>view </h2></a>
                              </div>
                              <div class="col">
                                3 of 3
                                
                              </div>
                              <iframe width="660" height="315" src="https://www.youtube.com/embed/4EBxWJqN_ew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="row">
                              <div class="col">
                                1 of 3
                                <a href="activity"><input type="button" value="like"></a>
                              </div>
                              <div class="col-5">
                                2 of 3 (wider)
                                <a href="activity"><input type="button" value="coment"></a>
                              </div>
                              <div class="col">
                                3 of 3
                                <a href="activity"><input type="button" value="sharet"></a>
                              </div>
                            </div>
                          </div>

                      </div>
                      <div class="col">
                        Column
                        <div><a href="#"><h3h>pubicidad</h3></a></div>
                        <div><a href="#"><h3>your pages</h3></a></div>
                        <div><a href="#"><h3>piblicidad</h3></a></div>
                      </div>
                    </div>
                  </div> 
            </div>
        </main>
        
        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>

        
    </body>
    

{% endblock contenido %}
