{% extends 'base.html' %}

{% block contenido %}
    <a href="{% url 'agregar_producto' %}" class="btn-primary">Agregar un Producto</a>
    <a href="{% url 'agregar_marca' %}" class="btn-primary">Agregar un Marca</a>
    <a href="{% url 'agregar_categoria' %}" class="btn-primary">Agregar un Categoria</a>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formulario.as_p }}
        <input type="submit" value="Guardar Categoria">
    
    </form>

{% endblock contenido %}