{% extends 'base.html' %}

{% block contenido %}
        <h1>Lista de productos</h1>
         <a href="{% url 'agregar_producto' %}" class="btn-primary">Agregar un Producto</a>
         <a href="{% url 'agregar_marca' %}" class="btn-primary">Agregar un Marca</a>
         <a href="{% url 'agregar_categoria' %}" class="btn-primary">Agregar un Categoria</a>
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">nombre</th>
                            <th scope="col">precio</th>
                            <th scope="col">Marca</th>
                            <th scope="col">estado</th>
                            <th scope="col">foto</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for p in productos %}
                          <tr>
                              <td>{{ p.id }}</td>
                              <td>{{ p.nombre }}</td>
                              <td>{{ p.precio }}</td>
                              <td>{{ p.marca }}</td>
                              <td>{{ p.activo }}</td>
                              <td><img src="/media/{{ p.foto }}" alt="" height="90px"></td>   
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>






        

        

{% endblock %}        