{% extends 'base.html' %}

{% block titulo %}
Ver producto
{% endblock %}

{% block contenido %}
 <p><a href="{% url 'agregar_producto' %}" >agregar productos</a></p>
 <p><a href="{% url 'agregar_marca' %}" >Agregar un Marca</a></p>
 <p></p><a href="{% url 'agregar_categoria' %}" >Agregar un Categoria</a></p>

    <h1>ver detalle producto</h1>
    <p>{{ detalle.id }}</p>
    <p>{{ detalle.nombre }}</p>
    <p>{{ detalle.precio }}</p>
    <p>{{ detalle.marca }}</p>
    <p>{{ detalle.categoria }}</p>
    <p>{{ detalle.cantidad }}</p>
    <p>{{ detalle.descripcion }}</p>
    

    <p>{% for c in detalle.categorias.all %}
        {{ c }}}
        {% endfor %}
    </p>
            
    
    <a href="{% url 'productos_view' %}">regresar a la lista de productos</a>

{% endblock contenido %}